@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

.landingCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #141111;
  height: 100vh;
  width: 100%;
}
.landingCol .landing__A {
  display: flex;
  justify-content: center;
  margin: 3%;
  width: 100%;
}
.landingCol .landing__A .landing__A--name {
  padding: 1%;
}
.landingCol .landing__A .landing__A--name h1 a {
  flex-wrap: wrap;
  font-size: 2rem;
  text-align: center;
  color: #faf9f7;
  text-decoration: none;
  animation: text-blur-out 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
  font-family: "Roboto", sans-serif;
}
.landingCol .landing__B {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
}
.landingCol .landing__B .landing__B--col {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  align-items: center;
}
.landingCol .landing__B .landing__B--col .landing__B--description {
  color: #faf9f7;
  animation: text-blur-out 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
  font-family: "Montserrat", sans-serif;
  z-index: 2;
}
.landingCol .landing__B .landing__B--col .landing__B--animation {
  animation: rotation 10s infinite linear;
  width: 26%;
  position: absolute;
  z-index: 1;
}
.landingCol .landing__B .landing__B--ocup {
  padding: 2%;
  font-size: 2rem;
  text-align: center;
  color: #faf9f7;
  animation: text-blur-out 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
  font-family: "Roboto", sans-serif;
}
.landingCol #aboutMe {
  height: 10vh;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0);
  }
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@media screen and (min-width: 645px) {
  .landingCol {
    justify-content: space-around;
  }
  .landingCol .landing__A {
    justify-content: flex-start;
    padding-left: 10%;
  }
  .landingCol .landing__A .landing__A--name h1 a {
    font-size: 5rem;
  }
  .landingCol .landing__B {
    flex-direction: row;
  }
  .landingCol .landing__B .landing__B--col {
    display: flex;
    width: 20%;
  }
  .landingCol .landing__B .landing__B--col .landing__B--animation {
    position: relative;
  }
  .landingCol .landing__B .landing__B--ocup {
    font-size: 4.8rem;
  }
  .landingCol #aboutMe {
    height: 10vh;
  }
}
#contactScroll {
  height: 4vh;
  background-color: #141111;
}

.contactInfo {
  background-color: rgba(17, 16, 16, 0.486);
  margin: 3%;
  position: relative;
  width: 90%;
  color: #faf9f7;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.contactInfo .contactTitle {
  font-size: 3rem;
  text-align: center;
}
.contactInfo .waysContact .waysContact__images,
.contactInfo .waysContact .socialMedia__images,
.contactInfo .socialMedia .waysContact__images,
.contactInfo .socialMedia .socialMedia__images {
  margin: 1%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.contactInfo .waysContact .waysContact__images .socialMedia__links,
.contactInfo .waysContact .socialMedia__images .socialMedia__links,
.contactInfo .socialMedia .waysContact__images .socialMedia__links,
.contactInfo .socialMedia .socialMedia__images .socialMedia__links {
  text-decoration: none;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactInfo .waysContact .waysContact__images .socialMedia__links .social_text,
.contactInfo .waysContact .socialMedia__images .socialMedia__links .social_text,
.contactInfo .socialMedia .waysContact__images .socialMedia__links .social_text,
.contactInfo .socialMedia .socialMedia__images .socialMedia__links .social_text {
  color: #faf9f7;
  text-decoration: none;
}
.contactInfo .waysContact .waysContact__images .socialMedia__links .waysContact__images--try,
.contactInfo .waysContact .waysContact__images .socialMedia__links .socialMedia__images--try,
.contactInfo .waysContact .socialMedia__images .socialMedia__links .waysContact__images--try,
.contactInfo .waysContact .socialMedia__images .socialMedia__links .socialMedia__images--try,
.contactInfo .socialMedia .waysContact__images .socialMedia__links .waysContact__images--try,
.contactInfo .socialMedia .waysContact__images .socialMedia__links .socialMedia__images--try,
.contactInfo .socialMedia .socialMedia__images .socialMedia__links .waysContact__images--try,
.contactInfo .socialMedia .socialMedia__images .socialMedia__links .socialMedia__images--try {
  margin: 1%;
  height: 20%;
}
.contactInfo .waysContact .waysContact__images .socialMedia__links .socialMedia__images--try-duo,
.contactInfo .waysContact .socialMedia__images .socialMedia__links .socialMedia__images--try-duo,
.contactInfo .socialMedia .waysContact__images .socialMedia__links .socialMedia__images--try-duo,
.contactInfo .socialMedia .socialMedia__images .socialMedia__links .socialMedia__images--try-duo {
  margin: 1%;
  height: 90%;
  border-radius: 9px;
}

@media screen and (min-width: 645px) and (max-width: 863) {
  .contactInfo .waysContact .waysContact__images,
.contactInfo .waysContact .socialMedia__images,
.contactInfo .socialMedia .waysContact__images,
.contactInfo .socialMedia .socialMedia__images {
    justify-content: space-evenly;
  }
  .contactInfo .waysContact .waysContact__images .socialMedia__links,
.contactInfo .waysContact .socialMedia__images .socialMedia__links,
.contactInfo .socialMedia .waysContact__images .socialMedia__links,
.contactInfo .socialMedia .socialMedia__images .socialMedia__links {
    height: 10vh;
  }
}
@media screen and (min-width: 863px) {
  .contactInfo {
    text-align: center;
  }
  .contactInfo .waysContact .waysContact__images,
.contactInfo .waysContact .socialMedia__images,
.contactInfo .socialMedia .waysContact__images,
.contactInfo .socialMedia .socialMedia__images {
    justify-content: space-evenly;
  }
  .contactInfo .waysContact .waysContact__images .socialMedia__links,
.contactInfo .waysContact .socialMedia__images .socialMedia__links,
.contactInfo .socialMedia .waysContact__images .socialMedia__links,
.contactInfo .socialMedia .socialMedia__images .socialMedia__links {
    height: 10vh;
  }
}
.stickyItem {
  z-index: 3;
  position: sticky;
  top: -1px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 4vh;
  background-color: #141111;
}
.stickyItem .homeLink {
  color: #faf9f7;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.1%;
  animation: slide-out-bottom 10s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}
.stickyItem .homeLink:hover {
  color: #bbb3b3;
}
.stickyItem .landing__A--navBlock {
  z-index: 3;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  width: 90%;
}
.stickyItem .landing__A--navBlock .navBlock--toggle {
  width: 10%;
}
.stickyItem .landing__A--navBlock .navBlock--toggle .navBlock--toggle--nudemode {
  width: 90%;
  color: #faf9f7;
}
.stickyItem .landing__A--navBlock .navBlock--links:nth-child(1) {
  animation: slide-out-bottom 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}
.stickyItem .landing__A--navBlock .navBlock--links:nth-child(2) {
  animation: slide-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}
.stickyItem .landing__A--navBlock .navBlock--links:nth-child(3) {
  animation: slide-out-bottom 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}
.stickyItem .landing__A--navBlock .navBlock--links {
  color: #faf9f7;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.1%;
}
.stickyItem .landing__A--navBlock .navBlock--links:hover {
  color: #bbb3b3;
}

@media screen and (min-width: 645px) {
  .stickyItem {
    justify-content: space-between;
  }
}
@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}
#proyectsScroll {
  height: 4vh;
  background-color: #141111;
}

.proyects {
  position: relative;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
}
.proyects .infoCardProyects {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5vh;
  border: 2px #3a3838 solid;
  color: #faf9f7;
  font-family: "Montserrat", sans-serif;
}
.proyects .infoCardProyects .proyects__image--try {
  width: 100%;
}
.proyects .infoCardProyects .info .buttonProyects {
  width: 100%;
  height: 5vh;
  border-radius: 12px;
  background-color: #3a3838;
  color: #faf9f7;
}
.proyects .infoCardProyects .info .buttonProyects:hover {
  background-color: #141111;
  visibility: visible;
}

@media screen and (min-width: 645px) and (max-width: 863) {
  .proyects .infoCardProyects .info .buttonProyects {
    width: 25%;
    height: 5vh;
    border-radius: 12px;
    background-color: #3a3838;
    color: #faf9f7;
  }
  .proyects .infoCardProyects .info .buttonProyects:hover {
    background-color: #141111;
    visibility: visible;
  }
}
@media screen and (min-width: 863px) {
  .proyects .infoCardProyects {
    flex-direction: row;
  }
  .proyects .infoCardProyects .proyects__image--try {
    width: 50%;
  }
  .proyects .infoCardProyects .info .buttonProyects {
    width: 30%;
    height: 5vh;
    border-radius: 12px;
    background-color: #3a3838;
    color: #faf9f7;
  }
  .proyects .infoCardProyects .info .buttonProyects:hover {
    background-color: #141111;
    visibility: visible;
  }
  .proyects .infoCardProyects .info .buttonProyects:hover {
    visibility: visible;
    animation: wave2 1s forwards;
  }
}
#aboutMeScroll {
  height: 4vh;
  background-color: #141111;
}

.aboutMe {
  margin: 5%;
  height: 100vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutMe .infoCard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #faf9f7;
  font-family: "Montserrat", sans-serif;
}
.aboutMe .infoCard .profilePics--try {
  width: 50%;
  display: none;
}
.aboutMe .infoCard .info {
  border: 2px #3a3838 solid;
  padding: 5%;
}
.aboutMe .infoCard .info .aboutMe__title {
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
}
.aboutMe .infoCard .info .aboutMe__paragraph .lenguagesListHeader {
  margin: 0;
  padding: 0;
}
.aboutMe .infoCard .info .aboutMe__paragraph .lenguagesListHeader .languagesList--try {
  display: none;
}
.aboutMe .infoCard .info .aboutMe__paragraph .aboutMe__paragraph--link {
  color: #faf9f7;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.1%;
}
.aboutMe .infoCard .info .aboutMe__paragraph .aboutMe__paragraph--link:hover {
  color: #bbb3b3;
}
.aboutMe .infoCard .info .buttonCV {
  width: 50%;
  height: 5vh;
  border-radius: 12px;
  background-color: #3a3838;
  color: #faf9f7;
}
.aboutMe .infoCard .info .buttonCV:hover {
  background-color: #141111;
  visibility: visible;
}
.aboutMe .infoCard .info .aboutMe__skills {
  margin-top: 4%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.aboutMe .infoCard .info .aboutMe__skills .aboutMe__skills--try {
  height: 5vh;
  margin: 2%;
}

@media screen and (min-width: 645px) and (max-width: 863) {
  .aboutMe {
    height: 125vh;
  }
  .aboutMe .infoCard {
    top: 10vh;
    flex-wrap: nowrap;
  }
  .aboutMe .infoCard .profilePics--try {
    width: 20%;
  }
  .aboutMe .infoCard .info .aboutMe__paragraph--link {
    color: #faf9f7;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    padding: 0.1%;
  }
  .aboutMe .infoCard .info .aboutMe__paragraph--link:hover {
    color: #bbb3b3;
  }
  .aboutMe .infoCard .info .buttonCV {
    width: 25%;
    height: 5vh;
    border-radius: 12px;
    background-color: #3a3838;
    color: #faf9f7;
  }
  .aboutMe .infoCard .info .buttonCV:hover {
    background-color: #141111;
    visibility: visible;
  }
}
@media screen and (min-width: 863px) {
  .aboutMe {
    height: 125vh;
  }
  .aboutMe .infoCard {
    top: 10vh;
    flex-direction: row;
  }
  .aboutMe .infoCard .profilePics--try {
    width: 20%;
    display: block;
  }
  .aboutMe .infoCard .info .aboutMe__paragraph--link {
    color: #faf9f7;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    padding: 0.1%;
  }
  .aboutMe .infoCard .info .aboutMe__paragraph--link:hover {
    color: #bbb3b3;
  }
  .aboutMe .infoCard .info .buttonCV {
    width: 15%;
    height: 5vh;
    border-radius: 12px;
    background-color: #3a3838;
    color: #faf9f7;
  }
  .aboutMe .infoCard .info .buttonCV:hover {
    background-color: #141111;
    visibility: visible;
  }
  .aboutMe .infoCard .info .buttonCV:hover {
    visibility: visible;
    animation: wave 1s forwards;
  }
}
.mainSection {
  position: static;
  background-image: url("../images/bg.jpg");
  height: 400vh;
  background-size: cover;
}
.mainSection .mainSection--gradient {
  background: #141111;
  background: linear-gradient(180deg, #141111 28%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes wave {
  0% {
    width: 15%;
  }
  100% {
    width: 23%;
  }
}
@keyframes wave2 {
  0% {
    width: 33%;
  }
  100% {
    width: 40%;
  }
}

/*# sourceMappingURL=styles.css.map */
