@import "variables";

* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  background-color: #212529;
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #faf9f785;
  &:hover{
  background-color: #faf9f7;

  }
}
body::-webkit-scrollbar-button {
  height: 4vh;
  background-color: #212529;
}
p {
  padding: 0;
  margin: 0;
}
//Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
//Docs
@import "mixins";
@import "queries/queries";
@import "index/landing";
@import "index/contact";
@import "index/sticky";
@import "index/proyects";
@import "index/aboutme";
@import "index/mainsection";
