$size: 16px;
.cursor{
  display: none;
}

@media screen and (min-width: 863px) {
  .cursor {
    display: block;
    pointer-events: none;
    position: fixed;
    width: $size;
    height: $size;
    left: $size;
    top: $size;
    z-index: 10;
    transition: none;
    .cursor__element {
      background-color: $creamWhite;
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
    .cursor__clicked {
      background: none;
      border: 2px solid $creamWhite;
    }
    .hoverlinked {
      background-color: $creamWhiteOpacity;
      -webkit-animation: vibrate-1 0.3s linear infinite alternate-reverse
        backwards;
      animation: vibrate-1 0.3s linear infinite alternate-reverse backwards;
    }
  }
  .hidden {
    display: none;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
